@font-face {
  font-family: ryan_portfolio;
  src: url("./fonts/Ryan-Regular.otf");
}

@font-face {
  font-family: avenir;
  src: url("./fonts/AvenirNext-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: avenir;
  src: url("./fonts/AvenirNext-Medium.ttf");
  font-weight: medium;
}

@font-face {
  font-family: avenir;
  src: url("./fonts/AvenirNext-Bold.ttf");
  font-weight: bold;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: avenir;
  font-weight: regular;
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body.blue {
  background: #86b2f4;
}

body.blue h1, body.blue h2, body.blue h3, body.blue p, body.blue header nav ul li a, body.blue a {
  color: white;
}

body.blue header nav ul li a::after {
  background-color: white;
}

body.blue header.thin {
  background-color: #86b2f4;
  background: -webkit-gradient(linear, left top, left bottom, from(#86b2f4), color-stop(62%, #86b2f4), color-stop(78%, rgba(134, 178, 244, 0.66)), color-stop(88%, rgba(134, 178, 244, 0.35)), color-stop(97%, rgba(134, 178, 244, 0)));
  background: linear-gradient(180deg, #86b2f4 0%, #86b2f4 62%, rgba(134, 178, 244, 0.66) 78%, rgba(134, 178, 244, 0.35) 88%, rgba(134, 178, 244, 0) 97%);
}

body.blue header.thin nav {
  background: transparent;
}

body.blue header.thin.expanded nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#86b2f4), color-stop(62%, #86b2f4), color-stop(78%, rgba(134, 178, 244, 0.66)), color-stop(88%, rgba(134, 178, 244, 0.35)), color-stop(97%, rgba(134, 178, 244, 0)));
  background: linear-gradient(180deg, #86b2f4 0%, #86b2f4 62%, rgba(134, 178, 244, 0.66) 78%, rgba(134, 178, 244, 0.35) 88%, rgba(134, 178, 244, 0) 97%);
}

body.white {
  background: white;
}

body.white h1, body.white h2, body.white h3, body.white p, body.white header h1, body.white header nav ul li a, body.white a {
  color: black;
}

body.white header nav ul li a::after, body.white header h1 a::after {
  background-color: black;
}

body.white header.thin {
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(62%, white), color-stop(78%, rgba(255, 255, 255, 0.66)), color-stop(88%, rgba(255, 255, 255, 0.35)), color-stop(97%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white 0%, white 62%, rgba(255, 255, 255, 0.66) 78%, rgba(255, 255, 255, 0.35) 88%, rgba(255, 255, 255, 0) 97%);
}

body.white header.thin nav {
  background: transparent;
}

body.white header.thin.expanded nav {
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(62%, white), color-stop(78%, rgba(255, 255, 255, 0.66)), color-stop(88%, rgba(255, 255, 255, 0.35)), color-stop(97%, rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, white 0%, white 62%, rgba(255, 255, 255, 0.66) 78%, rgba(255, 255, 255, 0.35) 88%, rgba(255, 255, 255, 0) 97%);
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

header > h1 a:first-of-type {
  position: relative;
}

header > h1 a:first-of-type::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header > h1 a:first-of-type:hover {
  cursor: pointer;
}

header.thin {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  height: 8vh;
  -webkit-transition: height 200ms ease-out, opacity 150ms ease-out;
  transition: height 200ms ease-out, opacity 150ms ease-out;
}

header.thin > h1 {
  padding-left: 2rem;
}

header.thin nav {
  position: fixed;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 2em;
  height: 0%;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  -webkit-transition: height 200ms ease-out, opacity 150ms ease-out;
  transition: height 200ms ease-out, opacity 150ms ease-out;
}

header.thin nav ul {
  list-style: none;
}

header.thin nav ul li {
  margin-top: calc((8vh - 2.25em) / 2);
}

header.thin nav ul li a {
  position: relative;
  font-family: ryan_portfolio;
  font-size: 2.5em;
}

header.thin nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header.thin nav ul li a:hover {
  cursor: pointer;
}

header.thin nav ul li:not(:first-of-type) a:hover::after {
  width: 100%;
}

header.thin nav ul li:last-of-type {
  margin-bottom: 2em;
}

header.thin.expanded nav {
  -webkit-transition: height 200ms ease-out, opacity 150ms ease-out;
  transition: height 200ms ease-out, opacity 150ms ease-out;
  opacity: 1;
  height: calc(4em*4 + 2em);
  padding-bottom: 3em;
}

header.thin h1 {
  font-size: 2.5em;
}

header.thin h1, header.thin a {
  font-family: ryan_portfolio;
  font-weight: 400;
}

header:not(.thin) {
  font-size: 2.5em;
}

header:not(.thin) > h1 {
  margin-top: .5em;
  font-family: ryan_portfolio;
  color: white;
  font-weight: 400;
  margin-bottom: .5em;
}

header:not(.thin) > nav {
  width: 20%;
}

header:not(.thin) > nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header:not(.thin) > nav ul li a {
  -webkit-transition: all;
  transition: all;
  font-size: .5em;
  font-weight: medium;
  color: white;
  position: relative;
}

header:not(.thin) > nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header:not(.thin) > nav ul li a.selected {
  opacity: 1;
}

header:not(.thin) > nav ul li a.selected::after {
  width: 100%;
}

header:not(.thin) > nav ul li a:hover {
  opacity: 1;
}

header:not(.thin) > nav ul li a:hover::after {
  width: 100%;
}

main {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 65%;
}

main p {
  max-width: 40%;
  font-size: 1rem;
}

main h2#hi {
  font-size: 14em;
  font-family: ryan_portfolio;
  font-weight: 500;
}

main .showcase {
  margin-top: 2em;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 3em;
}

main .showcase__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .showcase__item div {
  padding: 1em;
  border: 3px white solid;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0;
  padding-top: 66.67%;
  position: relative;
  background-size: cover;
  background-position: center;
}

main .showcase__item div img {
  max-width: 100%;
  border-radius: 20px;
}

main .showcase__item h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 300;
  -ms-flex-item-align: center;
      align-self: center;
}

main .showcase__item h3 span {
  max-height: 100%;
  margin-right: 0.5em;
}

main .showcase__item h3 span img {
  max-height: 1.5em;
}

main .showcase__item--your div {
  height: 100%;
  padding-top: 0;
}

main .showcase__item--your div span {
  color: white;
  font-size: 8em;
}

main.case .pageheader, main.about .pageheader, main.contact .pageheader {
  margin: 5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.case .pageheader h1, main.about .pageheader h1, main.contact .pageheader h1 {
  font-family: ryan_portfolio;
  font-weight: 550;
  font-size: 3em;
  text-align: center;
}

main.case .pageheader--contact, main.about .pageheader--contact, main.contact .pageheader--contact {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.case .pageheader--contact h1, main.about .pageheader--contact h1, main.contact .pageheader--contact h1 {
  font-weight: 500;
  font-size: 3em;
}

main.case h2, main.about h2, main.contact h2 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: .5em;
}

main.case > img, main.about > img, main.contact > img {
  max-width: 60%;
  margin-bottom: 4em;
}

main.case #index {
  list-style: decimal inside;
}

main.case #index li {
  font-weight: medium;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 0.7em;
  color: #86b2f4;
}

main.case #index li a {
  color: #86b2f4;
  position: relative;
  line-height: 1.5;
}

main.case #index li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #86b2f4;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main.case #index li a:hover::after {
  width: 100%;
}

main.case #index li:last-of-type {
  margin-top: 1em;
  list-style-type: disc;
}

main.case h2 {
  font-size: 2rem;
  position: relative;
  margin-top: 2em;
  font-weight: medium;
}

main.case h2[data-number] {
  margin-top: 5em;
}

main.case h2[data-number]::before {
  z-index: -1;
  content: attr(data-number);
  position: absolute;
  font-weight: 600;
  font-size: 5em;
  bottom: -.5ch;
  left: -.5ch;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #cccccc;
}

main.case h2::after {
  content: attr(data-supertitle);
  font-family: ryan_portfolio;
  position: absolute;
  font-weight: 400;
  font-size: .75em;
  top: -.7em;
  left: 0;
  color: black;
  text-transform: uppercase;
}

main.about {
  position: relative;
}

main.about #ind, main.about #nl {
  width: 200px;
  position: absolute;
}

main.about #ind {
  top: 400px;
  left: -375px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  width: 250px;
}

main.about #nl {
  top: 550px;
  right: -150px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

main.contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

main.contact form input, main.contact form textarea {
  border: none;
  background: white;
  outline: none;
  border-radius: 200px;
  font-family: ryan_portfolio;
  font-size: 2em;
  width: 100%;
  padding: .85em;
  color: black;
  border-radius: 3ch;
}

main.contact form input:focus, main.contact form textarea:focus {
  outline: none;
}

main.contact form input::-webkit-input-placeholder, main.contact form textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

main.contact form input:-ms-input-placeholder, main.contact form textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

main.contact form input::-ms-input-placeholder, main.contact form textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

main.contact form input::placeholder, main.contact form textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

main.contact form textarea {
  border-radius: 3ch;
  height: 10em;
  padding: 1em;
  overflow: hidden;
  resize: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.imagegrid {
  display: -ms-grid;
  display: grid;
  max-width: 45%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  grid-gap: 1em;
}

.imagegrid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0;
  padding-top: 56.25%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.imagegrid > div:first-of-type {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

.imagegrid > div:not(:first-of-type) {
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.7);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.imagegrid > div:not(:first-of-type)::after {
  position: absolute;
  height: 20%;
  width: 20%;
  bottom: 5px;
  right: 5px;
  content: "";
  background-image: url("./images/photo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.imagegrid > div:not(:first-of-type):hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.imagegrid > div:not(:first-of-type):hover::before {
  position: absolute;
  color: white;
  top: .5ch;
  left: 1ch;
  content: attr(data-title);
  max-width: 100%;
}

.imagegrid > div:not(:first-of-type):hover::after {
  background: none;
}

.hidden {
  visibility: hidden !important;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}

.image-popup__background {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.image-popup img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: auto;
  width: 90vw;
  max-height: 90vh;
}

footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 3em;
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  justify-self: flex-end;
}

footer p {
  font-family: ryan_portfolio;
  font-size: 2em;
  margin-bottom: 2em;
}

footer p:last-of-type {
  color: blue;
  font-size: 1.5em;
}

@media screen and (max-width: 1200px) {
  header.thin {
    max-width: 100vw;
  }
  header:not(.thin) nav {
    width: 50%;
  }
  main .showcase {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  main p {
    max-width: 80%;
    font-size: 0.85em;
  }
  main .imagegrid {
    max-width: 80%;
  }
}

@media screen and (max-width: 700px) {
  header {
    font-size: 0.7em;
  }
  header.thin {
    max-width: 100vw;
  }
  header.thin > h1 {
    padding-left: 1em;
  }
  header.thin nav ul li::after {
    height: 2px;
  }
  header:not(.thin) nav {
    width: 100%;
  }
  main {
    width: 80%;
  }
  main .showcase {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  main p {
    max-width: 100%;
  }
  main.case .pageheader, main.about .pageheader, main.contact .pageheader {
    margin-top: 2em;
  }
  main .imagegrid {
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  header {
    font-size: 0.5em;
  }
}
/*# sourceMappingURL=main.css.map */